.DS_Store
.env
mods/
libraries/
config/
defaultconfigs/
kubejs/
shrines-saves/
world/
journeymap/
modernfix/
forge.jar
minecraft_server.1.16.5.jar
server-icon.png
eula.txt
server.properties
ops.json
whitelist.json
banned-players.json
banned-ips.json
usercache.json
usernamecache.json
